# IntelliJ IDEA
*.iml
*.ipr
*.iws

# Java
*.jar
*.class
*.sw?
*~

# MacOS system files
.DS_Store

# Eclipse project files
.classpath
.factorypath
.project
.settings

# Gradle
.gradle
build/
bin/

# Node.js
node_modules/

# Eclipse IDE
.recommenders
.springBeans
.vscode

# Specific files to ignore
code/
MANIFEST.MF
_site/
activemq-data/
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out/
overridedb.*

# Target directories in any subfolder (recursively)
**/target/

# Files created by IDE and editors
*.md.html
.attach_pid*
.git-hooks/
**/.gradletasknamecache
.sts4-cache

# Other custom files to ignore
**/build/
**/bin/
